.listwrapper_wrapper{
    width: 1024px;
    margin: 0 auto;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 768px) {
    .listwrapper_wrapper{
        width: 96%;
        padding-left: 2%;
        padding-right: 2%
    }
}

@media only screen and (min-width: 768px) {
    .listwrapper_wrapper{
        width: 760px;
    }
}

@media only screen and (min-width: 1024px) {
    .listwrapper_wrapper{
        width: 960px;
    }
}
