.profilebody-wrapper{
   
    /*
        배경화면과 프로필 정보를 겹치기 위해 position: relative 사용
    */
    position: relative;
    background-color: black;
}

.background-wrapper{
    /*
        배경화면과 버튼을 겹치기 위해 position: relative 사용
    */
    position: relative;
    height: 300px;
    overflow: hidden; /* 배경화면 넘치는 부분 안보이도록 */

}

.background-wrapper .img{
    /*
        TODO: 배경화면을 어떤 식으로 잘라서 보여줄 것인지
    */
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.background-wrapper .btn{
    /*
        position: absoulte 이용하여 배경화면과 겹치도록 배치
    */
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 1;

}


.background-wrapper .cover{
    /* FOLLOWER, FOLLOWING 등을 감싸는 반투명 배경 */
    position: absolute;
    height: 20%;
    width: 60%;
    bottom: 0;
    left: 400px;
    background-color: rgba(0, 0, 0, 0.4);                                                                 
    
    display: flex;
    flex-direction: row;
    z-index:1;
}

.social-box-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    justify-content: center;
    align-items: center;

    color: white;
}

.social-box-wrapper .title{
    font-size: 1.1rem;
    font-weight: 700;
}

.social-box-wrapper .content{
    font-size: 1rem;
    font-weight: 300;
}

.profile-wrapper{
    /*
        position: absoulte 이용하여 배경화면과 겹치도록 배치
    */
    position: absolute;
    top: 80px;
    left: 80px;  
    width: 280px;
    height: fit-content;

    text-align: center;
}

.profile-card{
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 3px 4px rgba(15, 15, 15, 0.103);
    z-index: 2;
}

.profile-wrapper .add-beat-btn{
    margin-top: 1.5rem;
}

.profile-img-wrapper{
    /*
        수정 버튼을 프로필 이미지와 겹치기 위해 position: relative 사용
    */
    position:relative;
}

.profile-img-wrapper .img{
    width: 100%;
    height: auto;
}

.profile-img-wrapper .btn{
    /*
        position: absoulte 이용하여 프로필 사진과 겹치도록 배치
    */
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.profile-info-wrapper{
    padding: 10px;
}

.profile-info-wrapper .name{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.profile-info-wrapper .status{
    margin-top: 10px;
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.sns-wrapper{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sns{
    margin-top:3px;
    margin-bottom: 3px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 5px;

    opacity: 0.65;

    display: flex;
    flex-direction: row;
    align-items: center;

}
.sns .img{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
.sns .url{

    white-space: nowrap;
    overflow: hidden;

    font-size: 0.9rem;
    color: rgb(63, 62, 62);
}

.beat-list-wrapper{
  margin-left: 370px;
}