.postlist_wrapper .postitem_wrapper {
    padding: 1.5rem;
    transition: all .15s ease-in;
}
.postlist_wrapper .postitem_wrapper img {
    width: 100%;
}
.postlist_wrapper .postitem_wrapper h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.postlist_wrapper .postitem_wrapper h2 a {
    transition: all .15s ease-in;
    border-bottom: 1px solid transparent;
}

.postlist_wrapper .postitem_wrapper h2 a:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.postlist_wrapper .postitem_wrapper .date {
    font-size: 0.85rem;
    color: gray;
}

.postlist_wrapper .postitem_wrapper .tags {
    font-size: 0.85rem;
}

.postlist_wrapper .postitem_wrapper .tags a + a {
    margin-left: 0.25rem;
}

.postlist_wrapper .postitem_wrapper .tags a:hover {
    text-decoration: underline;
    cursor: pointer;
}